﻿@model IEnumerable<SSWA.Local.Core.Users.User>

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Operator
            </th>
            <th>
                Admin
            </th>
            <th>
                Approver
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.Roles.Contains("operator")
            </td>
            <td>
                @item.Roles.Contains("admin")
            </td>
            <td>
                @item.Roles.Contains("approver") 
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateUser", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
