﻿<div class="row">
    <div class="col-md-2 text-center">
        <a asp-area="" asp-controller="Shifts" asp-action="GetShiftByOperator" class="navbar-brand">Shift Log</a>
    </div>
    <div class="col-md-2">
        <a asp-area="" asp-controller="Inspections" asp-action="" class="navbar-brand">Inspections</a>
    </div>
    <div class="col-md-2">

    </div>

</div>