﻿@model SSWA.Local.Web.UseCases.CreateProject.CreateProjectRequest
<h2>New Project</h2>
<form asp-controller="Projects" asp-action="CreateProject">
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <button type="submit">Add</button>
</form>