﻿@model SSWA.Local.Web.UseCases.GetShiftByOperator.ShiftModel

@{
    ViewData["Title"] = "GetShiftByOperator";
}

<h2>GetShiftByOperator</h2>

<div>
    <h4>ShiftModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShiftId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShiftId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShiftType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShiftType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperatorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperatorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Swell)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Swell)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxForecaseWindSpeed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxForecaseWindSpeed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LowTideTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LowTideTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RainForecast)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RainForecast)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OHSEComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OHSEComments)
        </dd>
    </dl>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Time</th>
            <th>Operator</th>
            <th>Area</th>
            <th>Tag No</th>
            <th>PID</th>
            <th>Description</th>
            <th>Maintenance Required</th>
            <th>Maintenance Description</th>
            <th>MAXIMO Ref</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model.Logs)
        {
        <tr>
            <td>@Html.DisplayFor(x => log.Time)</td>
            <td>@Html.DisplayFor(x => log.OperatorName)</td>
            <td>@Html.DisplayFor(x => log.AreaId)</td>
            <td>@Html.DisplayFor(x => log.Tag)</td>
            <td>@Html.DisplayFor(x => log.PID)</td>
            <td>@Html.DisplayFor(x => log.Description)</td>
            <td>@Html.DisplayFor(x => log.MaintenanceRequired)</td>
            <td>@Html.DisplayFor(x => log.MaintenanceDescription)</td>
            <td>@Html.DisplayFor(x => log.MaximoRefNo)</td>
            <td>@Html.DisplayFor(x => log.Comments)</td>
        </tr>
        }
    </tbody>
</table>

